*.o
*.pc
*.ho

/Samba/source/Makefile
/Samba/source/config*
/Samba/source/heimdal/
/Samba/source/torture/
/Samba/source/bin/
*proto.h
*build*
/Samba/source/include/*config*
/Samba/source/extra_cflags.txt
/Samba/source/version.h

/Samba/source/auth/auth_sam.h
/Samba/source/auth/gensec/schannel_state.h
/Samba/source/auth/ntlmssp/msrpc_parse.h
/Samba/source/auth/pam_errors.h
/Samba/source/lib/cmdline/credentials.h
/Samba/source/lib/cmdline/popt_credentials.h
/Samba/source/lib/gencache/gencache.h
/Samba/source/lib/ldb/samba/ldif_handlers.h
/Samba/source/lib/registry/reg_backend_rpc.h
/Samba/source/lib/registry/regf.h
/Samba/source/lib/registry/tdr_regf.c
/Samba/source/lib/registry/tdr_regf.h
/Samba/source/lib/util/unix_privs.h
/Samba/source/lib/util/util_tdb.h
/Samba/source/lib/util/wrap_xattr.h
/Samba/source/libcli/finddcs.h
/Samba/source/libcli/nbt/nbtname.h
/Samba/source/libcli/util/clilsa.h
/Samba/source/librpc/gen_ndr/
/Samba/source/librpc/ndr/ndr_compression.h
/Samba/source/librpc/ndr/ndr_spoolss_buf.h
/Samba/source/librpc/rpc/dcerpc_table.h
/Samba/source/smbd/pidfile.h
/Samba/source/winbind/wb_helper.h

